@import '../../styles/settings.scss';

.searchForm {
  display: flex;
  justify-content: center;

  &:hover {
    background: darken($color-success, 5%);
  }

  &.danger {
    background: $color-warning;

    &:hover {
      background: darken($color-warning, 5%);
    }
  }

  &.transparent {
    background: transparent;

    &:hover {
      color: darken($color-light, 20%);
    }
  }
}